# ===== 3x-UI панель =====
XUI_BASE_URL=https://attanovpn.duckdns.org:20095/fZD4ErAq8nug3iH7KZ
XUI_API_TOKEN=1bsYa1MUPYATf6nJso0IDiPrwOBBRf5y2rSuO2ix2cKtUzSW
XUI_INBOUND_ID=18

# ===== Platega =====
PLATEGA_MERCHANT_ID=your_merchant_id
PLATEGA_SECRET=your_api_key
PLATEGA_API_URL=https://app.platega.io

# ===== Сайт =====
SITE_BASE_URL=https://your-domain.com
DATABASE_PATH=orders.db

# ===== CORS =====
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8000"]
